*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #ffa400;
    width: 100%;
    height: 6vh;
}
.trans{
    transition: all 400ms ;
}
li>a{
    text-decoration: none;
    color: #ffffff;  
}
nav ul li{
    font-size: 20px;
    display: block;
    float: left;
    padding: 10px 0;
    
}
ul li a{
    padding: 3vh 2vw;
}
li>a:hover{
    background-color: #ffffff;
    background-size: 6vh;
    color: #ffa400
}
.right{
    position: relative;
    left: 60vw;
}
.container{
    padding: 0 30vh;
}

.box{
    margin: 5% 0;
    
    background-color: cornsilk;
    box-shadow: 4px 4px 2px -3px gray;
    
}
.contents{
    padding: 5%;
}

.post-title{
    font-size: 30px;
    color: #0000ff;
}
.post-title a{
    text-decoration: none;
    color : #000000;
}

.post-title a:hover{
    color: #ffa400;
}
.more-info{
    color: darkgray;
    font: 18px;
    padding-bottom: 5px;
}
.post-body{
    padding-top: 5%;
    font-size: 18px;
}


.banner{
    background-color: #ffa400;
    width: 100%;
    height: 50vh;
}
.full-post-title{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.other-info{
    position: absolute;
    top: 27%;
    left: 43%;
    font-size: 20px;
    color: white
}

.full-post-body{
    padding: 2vh 10vh;
    font-size: 20px;
}


a button{
    background-color: #ffa400;
    width: 20%;
    padding: 1vw;
    border-style: double ;
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}
a>button:hover{
    background-color: #ffffff;
    color: #ffa400;
}

form p{
    
}
input, textarea{
    width: 50%;
}